.admin-auth-bar {
    transition: height 0.1s;
    overflow: hidden;
    height: 60px;

    .x-toolbar-inner {
        min-height: 60px;
        padding: 0;
    }

    &-toggle {
        background-color: #C62828;
        height: 0;
    }

    .admin-logo {
        font-weight: normal;
        font-size: 0.8em;
        padding: 0 10px 0 30px;
    }
}

.trigger-glyph {
    &.auth-email {
        .x-font-icon:before {
            content: "mail_outline";
        }
    }

    &.auth-password {
        .x-font-icon:before {
            content: "lock_outline";
        }
    }
}
