@include panel-ui(
    $ui: 'admin-messagebox',
    $header-border-width: 0
);

@include toolbar-ui(
    $ui: 'admin-messagebox',
    $box-shadow: none
);

.x-panel-admin-messagebox {
    border-radius: 3px;
    overflow: hidden;
}
