.admin-dashboard {
    background-color: #32404e;

    &-bar {
        transition: height 0.1s;
        overflow: hidden;
    }

    &-logo {
        background-image: url("images/shareview-icon.png");
        background-position: 18px center;
        background-repeat: no-repeat;
        background-color: $base-color;
        transition: width 0.3s;
        background-size: 20px;
        padding-left: 60px;
        line-height: 60px;
        overflow: hidden;
        width: 200px;
        color: #fff; // TODO: Нужна переменная

        &-collapsed {
            width: 60px;
        }
    }

    &-menu {
        transition: width 0.3s;
        width: 200px;

        &-collapsed {
            width: 60px;
        }

        &-container {
            background-color: #32404e;
        }
    }

    &-card {
        &-inner {
            overflow: visible;
        }

        &-item-inner {
            background-color: $layout-card-background-color;
            overflow: auto;
            height: auto;
        }
    }

    &-form {
        float: left;

        &.big {
            width: calc(100% - 20px);
        }

        &.small {
            width: calc(50% - 20px);
        }
    }
}