.admin-dashboard {
    &-bar {
        transition: height 0.1s;
        overflow: hidden;
        height: 60px;

        .x-toolbar-inner {
            min-height: 60px;
            padding: 0;
        }
    }

    &-logo {
        background-image: url("images/shareview-icon.png");
        background-position: 18px center;
        background-repeat: no-repeat;
        background-color: $base-color;
        transition: width 0.3s;
        background-size: 20px;
        padding-left: 60px;
        line-height: 60px;
        overflow: hidden;
        width: 200px;
        color: #fff; // TODO: Нужна переменная

        &-collapsed {
            width: 60px;
        }
    }

    &-menu {
        background-color: #32404e !important;
        transition: width 0.3s;
        width: 200px;

        &-collapsed {
            width: 60px;
        }
    }

    &-form {
        float: left;

        &.big {
            width: calc(100% - 20px);
        }

        &.small {
            width: calc(50% - 20px);
        }
    }
}