/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$trigger-glyph-color: dynamic(#E6E6E6);
$trigger-invalid-color: dynamic(#C62828);
$disabled-button-color: dynamic(#E6E6E6);
